body {
  margin: 2em;
  font-family: 'Josefin Sans', sans-serif;
  text-align: center;
  background-color: #fff1a8;
}

h1 {
  font-family: Trattatello, fantasy;
  font-size: 5em;
}

h4 {
  font-family: Trattatello, fantasy;
  font-size: 50px;

}
button {
  font-family: Trattatello, fantasy;
  margin: 1em;
  border-radius: .5em;
  padding: 1em;
}

footer {
  font-family: Trattatello, fantasy;
  padding: 2em;
}

input {
  border-radius: .5em;
}
#output {
  font-family: Trattatello, fantasy;
  font-size: 3em;

}

#butcherPig {
  width: 320px;
  height: 150px;
}

#inputPhrase{
  font-family: Trattatello, fantasy;
  font-size: 1.5rem;
  height: 5rem;
  width: 30rem;
  text-align: center;
}

#box{
  background-color: #59cbff;
  color: #fff;
  border-radius: .5em;
  padding: 1rem;
}
#box2{
  background-color: white;
  color: #fff;
  border-radius: 50em;
  padding: 1rem;
}

#musicText {
  font-family: Trattatello, fantasy;
}
#key {
  font-family: Trattatello, fantasy;
  color:red;
  font-size: 1.4rem;
}
#key2 {
  font-family: Trattatello, fantasy;
  color:green;
  font-size: 1.4rem;
}

@media only screen and (max-width: 650px) {
  #inputPhrase{
    font-size: 1rem;
    height: 5rem;
    width: 90%;
    padding: 1rem;
    text-align: center;
  }
}
